@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&display=swap');
/* Fonte Epilogue 400, 700 e 800 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 62.5% = 10px */
}

ul {
  margin-top: 7.2rem;
  list-style: none;
}

body {
  background-color: #ECE9FD;

  padding: 6rem 2.3rem 6.6rem;

  font-family: 'Epilogue', sans-serif;
}

main {
  max-width: 33rem;
  margin: 0 auto;
}

p, a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;

  color: rgba(10, 0, 57, 0.64);
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 4.8rem;
}

h1 + p {
  margin: 1.5rem 0 3.2rem;
}

p:first-child {
  text-transform: uppercase;
  letter-spacing: 3px;

  color: #7158EF;

  margin-bottom: 1.7rem;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

h1, a, li {
  color: #090039;
}

li {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;

  display: flex;
  gap: 3rem;

  height: 6rem;
  margin-bottom: 4.8rem;
  
}

li span {
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 8rem;
  letter-spacing: -2px;

  width: 4.7rem;
}

li:last-child {
  margin-bottom: 0;
}

@media (min-width: 500px) {
  body {
    padding: 6.6rem 2.3rem 6.6rem;
  }

  main {
    max-width: 40rem;
    margin: 0 auto;
  }

  ul li {
    align-items: center;
  }
}

@media (min-width: 860px) {
  body {
    padding: 18rem 5rem;

    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    gap: 10rem;

    max-width: 1020px;
  }

  main > div {
    max-width: 390px;
  }

  ul li {
    align-items: center;
  }
}

@media (min-width: 1080px) {
  main > div {
    max-width: 484px;
  }
}